body {
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
    /* width:  60vh;
    height: 60vh; */

    height: 36vw;
    width:  36vw;

    /* transform: translateX(calc(50vw - 30vh - 40px)); Half of screen width - half of board width - body padding */

    display: grid;
    grid-template-columns: repeat(5, 2fr 1fr) 2fr; /* 6 cases + 5 ponts horizontaux = 11 */
    grid-template-rows: repeat(5, 2fr 1fr) 2fr;    /* idem pour les lignes */
    gap: 0;

    justify-self: center;
  }

  .cell {
    background-color: #ececec;
    border: 2px solid #333;
  }

.h-bridge-container {
    /* background-color: lightblue; */
    margin: auto;
    height: 40%;
    width: 100%;
    /* border-top:    solid 1px cyan;
    border-bottom: solid 1px cyan; */

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/horizontal_bridge.png);
    background-position: center;
    background-size: cover;
  }

.v-bridge-container {
    /* background-color: lightcoral; */
    margin: auto;
    height: 100%;
    width: 40%;
    /* border-left:    solid 1px orangered;
    border-right:   solid 1px orangered; */

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/vertical_bridge.png);
    background-position: center;
    background-size: cover;
  }

.h-bridge {
  width: 100%;
}


.v-bridge {
  width: 100%;
  object-fit: cover;
  transform: rotate(90deg);
}

