.container {
    width: 960px;
    margin: auto;
  }
  
  .message > div {
    margin-top: 1px;
    margin-bottom: 1px;
    border: 2px;
    border-radius: 10px;
    padding: 5px;
  }
  .message > .content {
    display: inline-block;
    background-color: #e5c2c0;
  }
  
  .message > .timestamp {
    display: inline-block;
    background-color: #0d5d56;
    color: #fff;
    margin-right: 10px;
  }
  
  #message-panel {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 30px;
    padding-left: 50px;
  }

  